@import 'scss/_variables.scss';
@import 'scss/_mixins.scss';

// Globally scoped variables
:root {
  --header-bg-color: #{$steam-darkest-grey};
  --body-bg-gradient: #{$steam-gradient-dark};
}

body {
  font-family: 'Sofia Sans', sans-serif;
  color: aliceblue;
  min-height: 100vh;
  @include gradient(180deg, var(--body-bg-gradient));
}
