@import 'scss/_variables.scss';
@import 'scss/_mixins.scss';

// Globally scoped variables
:root {
  --dark-bg-color: #{$steam-darkest-grey};
  --body-bg-gradient: #{$steam-gradient-dark};
  --link-color: #{$steam-chalky-blue};
  --primary-color: #{$steam-vibrant-blue};
  --secondary-color: #{$steam-vibrant-green};
}

body {
  font-family: 'Sofia Sans', sans-serif;
  color: aliceblue;
  min-height: 100vh;
  overflow-x: hidden;
  @include gradient(180deg, var(--body-bg-gradient));

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
  }

  a,
  button {
    @include transition;
  }

  input {
    background-color: var(--dark-bg-color) !important;
    border-color: $steam-darker-grey !important;
    color: rgba(255, 255, 255, 0.7) !important;

    &:focus {
      box-shadow: none !important;
      border-color: lighten($steam-darker-grey, 25%) !important;
    }

    &::placeholder {
      font-weight: 100;
      font-size: 0.875rem;
      color: rgba(255, 255, 255, 0.7) !important;
    }
  }
}
