// Gradient
@mixin gradient($direction, $colors) {
  background: -webkit-linear-gradient($direction, $colors);
  background: -moz-linear-gradient($direction, $colors);
  background: -o-linear-gradient($direction, $colors);
  background: linear-gradient($direction, $colors);
}
@mixin text-gradient($direction, $colors, $fallback-color) {
  background: $fallback-color; /* fallback for old browsers */
  @include gradient($direction, $colors);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
// Glass FX
@mixin glass-fx {
  background: rgba(0, 15, 24, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(0, 15, 24, 0.17);
}
// Transition
@mixin transition {
  transition: all ease-in 300ms;
}
// Shadows
@mixin neon-shadow {
  box-shadow: 0 2px 16px 2px rgba(0, 187, 255, 0.8);
}
